Первичное исследование данных
Это задания не проверяется ЛМС, но выполняя его, вы тренируете навыки работы с реальным набором данных.

Для этого задания вы можете использовать любой доступный вам набор данных. Например, выберите и загрузите интересный для вас датасет с сайта Kaggle.

Что нужно сделать:

1.	Создайте Python-ноутбук, загрузите в него данные из csv-файла.

2.	Изучите выбранный набор данных — определите количество столбцов, названия столбцов, типы данных столбцов, использование памяти, индекс диапазона и количество ячеек в каждом столбце (ненулевые значения).

3.	Определите, содержатся ли в данных пропущенные значения и строки-дубликаты.


4.	Изучите функции библиотеки Pandas для работы с объектом DataFrame.Подумайте, какие из них могли бы пригодиться при предобработке данных, попробуйте применить их к выбранному набору данных.

По каждому пункту задания сделайте выводы и отразите их в созданном Python-ноутбуке. В качестве решения задания прикрепите ссылку на свой ноутбук.

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
root_path = os.getcwd()
dir_path = os.path.join(root_path, "datasets")
filename = "board_games.csv"
file_path = os.path.join(dir_path, filename)

In [3]:
df = pd.read_csv(file_path)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10532 entries, 0 to 10531
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   game_id         10532 non-null  int64
 1   description     10532 non-null  object
 2   image           10531 non-null  object
 3   max_players     10532 non-null  int64
 4   max_playtime    10532 non-null  int64
 5   min_age         10532 non-null  int64
 6   min_players     10532 non-null  int64
 7   min_playtime    10532 non-null  int64
 8   name            10532 non-null  object
 9   playing_time    10532 non-null  int64
 10  thumbnail       10531 non-null  object
 11  year_published  10532 non-null  int64
 12  artist          7759 non-null   object
 13  category        10438 non-null  object
 14  compilation     410 non-null    object
 15  designer        10406 non-null  object
 16  expansion       2752 non-null   object
 17  family          7724 non-null   object
 18  mechanic        9582 non-null   object
 19  publisher       10529 non-null  object
 20  average_rating  10532 non-null  float64
 21  users_rated     10532 non-null  int64
dtypes: float64(1), int64(9), object(12)
memory usage: 1.8+ MB

In [5]:
df.isnull().sum().sum() > 0

True

In [6]:
df.duplicated().sum() > 0

False

In [7]:
df.shape

(10532, 22)

In [8]:
df = df.select_dtypes(include=['float64', 'int64'])
df.dropna(inplace = True)

In [9]:
df.shape

(10532, 10)

In [10]:
df.describe()

,game_id,max_players,max_playtime,min_age,min_players,min_playtime,playing_time,year_published,average_rating,users_rated
count,10532.000000,10532.000000,10532.000000,10532.000000,10532.000000,10532.000000,10532.000000,10532.000000,10532.000000,10532.000000
mean,62059.203095,5.657330,91.341436,9.714964,2.070547,80.882738,91.341436,2003.070832,6.370856,870.081466
std,66223.716828,18.884403,659.754400,3.451226,0.664394,637.873893,659.754400,12.278296,0.850364,2880.214998
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1950.000000,1.384210,50.000000
25%,5444.500000,4.000000,30.000000,8.000000,2.000000,25.000000,30.000000,1998.000000,5.829585,85.000000
50%,28822.500000,4.000000,45.000000,10.000000,2.000000,45.000000,45.000000,2007.000000,6.392965,176.000000
75%,126409.500000,6.000000,90.000000,12.000000,2.000000,90.000000,90.000000,2012.000000,6.942675,518.000000
max,216725.000000,999.000000,60000.000000,42.000000,9.000000,60000.000000,60000.000000,2016.000000,9.003920,67655.000000

In [11]:
df_popular = df.loc[df.users_rated >= 1000]

In [15]:
df_popular.shape[0]

1638

In [19]:
df_popular.sort_values(by = ["users_rated", "year_published"], ascending=False)

,game_id,max_players,max_playtime,min_age,min_players,min_playtime,playing_time,year_published,average_rating,users_rated
12,13,4,120,10,3,60,120,1995,7.26569,67655
617,822,5,45,8,2,30,45,2000,7.43536,67056
5368,30549,4,45,8,2,45,45,2008,7.67234,62377
5737,36218,4,30,13,2,30,30,2008,7.69995,55930
6720,68448,7,30,10,2,30,30,2010,7.83595,51688
...,...,...,...,...,...,...,...,...,...,...
6483,59753,5,60,12,2,60,60,2009,6.89980,1005
1554,2533,2,30,8,2,30,30,2001,6.93958,1003
4540,19996,4,20,5,2,10,20,2005,6.68597,1002
1872,3234,4,60,10,3,45,60,2002,6.70326,1002
1161,1758,5,120,10,1,120,120,1989,6.67924,1002